body {
    background-color: grey;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }
  
  #map {
      height: 100%;
      width: 100%;
      display: inline-block;
  }
  
  html,
  body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
=======
    background-color: rgb(82, 163, 240);
    background-image: url("../images/coffee hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 20%;
    
}

/* apply style to hero */
.hero {
    color: rgb(85, 243, 12);
    font-weight: bold;
    font-size:xx-large
}
.app-title, P {
    text-align: center;
}

.form-input {
    border: 1px solid var(--secondary-color);
    display:inline-block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 15%%;
    margin-bottom: 15px; 
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }

.btn {
    color: var(--primary-color);
    background-color: grey;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
  } 

/* apply style to card */
.card, .subtitle {
    text-align: center;
}

h2, h3, .form-label {
    color: rgb(253, 7, 220);
    font-weight: normal;
    font-family: fantasy;
    font-size: xx-large;
}

/* Start Media Queries */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER 
@media screen and (max-width: 980px) {
}
/* MEDIA QUERY FOR TABLETS AND SMALLER 
@media screen and (max-width: 768px) {
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER 
@media screen and (max-width: 575px) {
}
/* End Media Queries */
