body {
    background-color: rgb(82, 163, 240);
    background-image: url("../images/pastry.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 20%;
    
}

/* apply style to hero */
.hero {
    color: rgb(85, 243, 12);
    font-weight: bold;
}
.app-title, P {
    text-align: center;
}

/* apply style to card */
.card, .subtitle {
    text-align: center;
}

h2, h3, .form-label {
    color: rgb(253, 7, 220);
    font-weight: normal;
    font-family: fantasy;
}

/* Start Media Queries */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER 
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER 
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER 
@media screen and (max-width: 575px) {

}

/* End Media Queries */
